/* Post.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.title {
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.date {
  color: #666;
  margin-bottom: 1em;
  display: inline-block;
  border-bottom: 2px solid #333;
  padding-bottom: 0.3em;
}

.content {
  font-size: 1.2em;
  line-height: 1.6em;
}
